html{
    font-family: -apple-system, -apple-system-body, sans-serif;
}
form{
    font-size: large;
}
.wrapper{
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-top-width: 20px;
    border-radius: 25px;
    border-color: #073980;
    padding-bottom: 20px;
    margin: auto;
    width: 400px;
}
.form-header{
    background-color: #073980;
    color: white;
    margin: auto;
    padding-bottom: 5px;
}
input{

}